%form#service_request_form.form-horizontal{action: '/', method: 'POST'}
  .panel.panel-default
    .list-group
      .list-group-item
        %h3 What can we do for you?
        .form-group
          .col-sm-12
            %textarea.form-control{name: 'job_name', rows: 3, placeholder: 'Describe your service request here...', required: 'required'}

      .list-group-item
        %h3 Tell us about yourself

        .form-group
          %label.control-label.col-sm-3{for: 'contact_first_name'} Name
          .col-sm-9
            .form-inline
              %input.form-control{type: 'text', name: 'contact_first_name', required: 'required', placeholder: 'First Name', style: 'width: 45%'}
              %input.form-control{type: 'text', name: 'contact_last_name', required: 'required', placeholder: 'Last Name', style: 'width: 53%'}
        %input{type: 'hidden', name: 'contact_primary', value: 'true'}

        .form-group
          %label.control-label.col-sm-3{for: 'customer_email_address'} Email
          .col-sm-8
            %input.form-control{type: 'text', name: 'customer_email_address', required: 'required', placeholder: ''}

        .form-group
          %label.control-label.col-sm-3{for: 'customer_phone_number'} Phone
          .col-sm-6
            %input.form-control{type: 'text', name: 'customer_phone_number', placeholder: ''}

        .form-group
          %label.control-label.col-sm-3{for: 'customer_service_address'} Address
          .col-sm-9
            %textarea.form-control{name: 'customer_service_address', rows: 2, placeholder: ''}
            .form-inline{style: "margin-top: 5px;"}
              %input.form-control{type: 'text', name: 'customer_service_city', placeholder: 'City', style: "width: 45%"}
              %input.form-control{type: 'text', name: 'customer_service_state', placeholder: 'State', style: "width: 17%"}
              %input.form-control{type: 'text', name: 'customer_service_zip_code', placeholder: 'Zip Code', style: "width: 30%"}

        .form-group
          %label.control-label.col-sm-3{for: 'customer_name'} Company
          .col-sm-9
            %input.form-control{type: 'text', name: 'customer_name', placeholder: '(optional)'}

        .form-group
          %label.control-label.col-sm-3{for: 'customer_name'} Size of Garage
          .col-sm-9
            %select.form-control.input-sm{name: 'custom_text1'}
              %option{value: ''} Please select
              %option Small
              %option 1 car
              %option 2 cars
              %option 3 cars
              %option 4 cars
              %option 5+ cars

      .list-group-item

        %h3
          Site Contact
          %small (if different from above)

        .form-group
          %label.control-label.col-sm-3{for: 'site_contact_first_name'} Name
          .col-sm-9
            .form-inline
              %input.form-control{type: 'text', name: 'site_contact_first_name', placeholder: 'First Name', style: 'width: 45%'}
              %input.form-control{type: 'text', name: 'site_contact_last_name', placeholder: 'Last Name', style: 'width: 53%'}

        .form-group
          %label.control-label.col-sm-3{for: 'site_contact_email_address'} Email
          .col-sm-8
            %input.form-control{type: 'text', name: 'site_contact_email_address', placeholder: ''}

        .form-group
          %label.control-label.col-sm-3{for: 'site_contact_phone_number'} Phone
          .col-sm-6
            %input.form-control{type: 'text', name: 'site_contact_phone_number', placeholder: ''}

      .list-group-item

        %h3 How did you hear about us?

        .form-group
          %label.control-label.col-sm-3{for: 'customer_source'} Name
          .col-sm-4
            %select.form-control.input-sm{name: 'customer_source'}
              %option{value:"27189"} Google
              %option{value:"27190"} Other
              %option{value:"27188"} Referral
              %option{value:"27187"} Yellow pages

  %button.btn.btn-success.btn-block.btn-lg Submit Request


:javascript
  $(document).ready(function() {

  });
